.yourMessage {
  align-self: flex-end;
}

.hisMessage {
  align-self: flex-start;
}

.message {
  margin: 5px;
  max-width: 400px;
  max-height: 350px;
  display: flex;
  //word-wrap: break-word;
  //word-break: keep-all;
  //hyphens: none;
  .innerMessage {
    margin-left: 5px;
    display: grid;
    padding: 10px;
    border-radius: 5px;
    grid-template: auto / minmax(185px, auto) auto auto;
    background-color: #3D4A5D;
    span {
      color: rgba(255, 255, 255, 0.7);
      word-wrap: break-word;
      overflow: hidden;
    }
    time {
      color: #819EA7;
      margin-top: auto;
      margin-left: 15px;
      text-align: right;
      font-size: 12px;
    }
  }
}
