.container {
  text-align: center;
  margin: auto;
  padding: 5px;
  height: 30px;
  min-width: 280px;
  color: white;
  background: #182035;
  border-radius: 25px;
  font-size: 15px;
  font-style: oblique;
  font-weight: 300;
  user-select: none;
}
