.side {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #575757;
  input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .auto {
    margin: 0 10px;
    .search {
      input {
        text-indent: 5%;
      }
      border-radius: 5px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
